In [73]:
# Responda a três perguntas básicas:
# Quais as Cias aéreas que pousam no aeroporto?
# Quais as 100 Cias aéreas com maior quantidade de peso ao pousar?
# Qual tipo de aeronave que mais pousa no aeroporto?
# É com estes três questionamentos que iniciamos nosso estudo a biblioteca Pandas. Para tal, utilizaremos conceitos de 
# Slice já estudados no encontro anterior.

In [74]:
# Primeiramente nossa base dados foi extraída do Kaggle e chama-se air-traffic.csv. Vamos iniciar importando a biliteca PANDAS

In [75]:
import pandas as pd

In [76]:
# Vamos atribuir ler o arquivo e atribuir a ele o objeto df do tipo DataFrame

In [77]:
df = pd.read_csv('air-traffic.csv', sep = ',', encoding = 'utf-8')

In [78]:
# Para verificar se o objeto é do tipo DataFrame do Pandas, basta utilizar a função type

In [79]:
type(df)

pandas.core.frame.DataFrame

In [80]:
# Vamos verificar os 10 primeiros índices do nosso DataFrame

In [81]:
df.head(10)

,Activity Period,Operating Airline,Operating Airline IATA Code,Published Airline,Published Airline IATA Code,GEO Summary,GEO Region,Landing Aircraft Type,Aircraft Body Type,Aircraft Manufacturer,Aircraft Model,Aircraft Version,Landing Count,Total Landed Weight
0,200204,ATA Airlines,TZ,ATA Airlines,TZ,Domestic,US,Passenger,Narrow Body,Boeing,757,200,83,16434000
1,200204,ATA Airlines,TZ,ATA Airlines,TZ,Domestic,US,Passenger,Narrow Body,Boeing,757,300,3,672000
2,200204,ATA Airlines,TZ,ATA Airlines,TZ,Domestic,US,Passenger,Wide Body,Lockheed,L1011,0,27,9666000
3,200204,Aeroflot Russian International Airlines,NaN,Aeroflot Russian International Airlines,NaN,International,Europe,Passenger,Wide Body,Boeing,777,0,9,4139946
4,200204,Air Canada,AC,Air Canada,AC,International,Canada,Passenger,Narrow Body,Boeing,737,200,5,525000
5,200204,Air Canada,AC,Air Canada,AC,International,Canada,Passenger,Narrow Body,Boeing,737,NaN,15,1605000
6,200204,Air Canada,AC,Air Canada,AC,International,Canada,Passenger,Wide Body,Boeing,767,200,1,272048
7,200204,Air Canada,AC,Air Canada,AC,International,Canada,Passenger,Wide Body,Boeing,767,333,2,639774
8,200204,Air Canada,AC,Air Canada,AC,International,Canada,Passenger,Narrow Body,Airbus,A319,114,83,11161923
9,200204,Air Canada,AC,Air Canada,AC,International,Canada,Passenger,Narrow Body,Airbus,A320,211,129,18343413

In [82]:
# Vamos conhecer um pouco mais do nosso DataSet!
# Vamos extrair as seguintes informações:
# a) quantidade de linhas
# b) quantidade de colunas
# c) quais são as colunas
# d) se há valores missing

In [83]:
# a) Quantide de linhas
len(df)

21846

In [84]:
# b) quantidade de colunas
len(df.columns)

14

In [85]:
# c) quais são as colunas
df.columns

Index(['Activity Period', 'Operating Airline', 'Operating Airline IATA Code',
       'Published Airline', 'Published Airline IATA Code', 'GEO Summary',
       'GEO Region', 'Landing Aircraft Type', 'Aircraft Body Type',
       'Aircraft Manufacturer', 'Aircraft Model', 'Aircraft Version',
       'Landing Count', 'Total Landed Weight'],
      dtype='object')

In [86]:
# d) se há valores missing ou valores NaN (Nota a Number). Valores True indicam que há valores missing.
df.notna().head()

,Activity Period,Operating Airline,Operating Airline IATA Code,Published Airline,Published Airline IATA Code,GEO Summary,GEO Region,Landing Aircraft Type,Aircraft Body Type,Aircraft Manufacturer,Aircraft Model,Aircraft Version,Landing Count,Total Landed Weight
0,True,True,True,True,True,True,True,True,True,True,True,True,True,True
1,True,True,True,True,True,True,True,True,True,True,True,True,True,True
2,True,True,True,True,True,True,True,True,True,True,True,True,True,True
3,True,True,False,True,False,True,True,True,True,True,True,True,True,True
4,True,True,True,True,True,True,True,True,True,True,True,True,True,True

In [87]:
# Como iremos trabalhas com apenas os cem primeiros registros, vamos criar um novo objeto e atribuir a ele os
# 100 primeiros registros do nosso DataSet para ficar mais fácil o aprendizado. Com isto estamos criando um subset.

In [88]:
df1 = df.head(100)

In [89]:
df1

,Activity Period,Operating Airline,Operating Airline IATA Code,Published Airline,Published Airline IATA Code,GEO Summary,GEO Region,Landing Aircraft Type,Aircraft Body Type,Aircraft Manufacturer,Aircraft Model,Aircraft Version,Landing Count,Total Landed Weight
0,200204,ATA Airlines,TZ,ATA Airlines,TZ,Domestic,US,Passenger,Narrow Body,Boeing,757,200,83,16434000
1,200204,ATA Airlines,TZ,ATA Airlines,TZ,Domestic,US,Passenger,Narrow Body,Boeing,757,300,3,672000
2,200204,ATA Airlines,TZ,ATA Airlines,TZ,Domestic,US,Passenger,Wide Body,Lockheed,L1011,0,27,9666000
3,200204,Aeroflot Russian International Airlines,NaN,Aeroflot Russian International Airlines,NaN,International,Europe,Passenger,Wide Body,Boeing,777,0,9,4139946
4,200204,Air Canada,AC,Air Canada,AC,International,Canada,Passenger,Narrow Body,Boeing,737,200,5,525000
5,200204,Air Canada,AC,Air Canada,AC,International,Canada,Passenger,Narrow Body,Boeing,737,NaN,15,1605000
6,200204,Air Canada,AC,Air Canada,AC,International,Canada,Passenger,Wide Body,Boeing,767,200,1,272048
7,200204,Air Canada,AC,Air Canada,AC,International,Canada,Passenger,Wide Body,Boeing,767,333,2,639774
8,200204,Air Canada,AC,Air Canada,AC,International,Canada,Passenger,Narrow Body,Airbus,A319,114,83,11161923
9,200204,Air Canada,AC,Air Canada,AC,International,Canada,Passenger,Narrow Body,Airbus,A320,211,129,18343413
10,200204,Air China,CA,Air China,CA,International,Asia,Passenger,Wide Body,Boeing,747,400,21,13229853
11,200204,Air France,AF,Air France,AF,International,Europe,Passenger,Wide Body,Boeing,777,0,30,13796400
12,200204,Alaska Airlines,AS,Alaska Airlines,AS,Domestic,US,Passenger,Narrow Body,Boeing,737,400,314,37994000
13,200204,Alaska Airlines,AS,Alaska Airlines,AS,International,Canada,Passenger,Narrow Body,Boeing,737,400,59,7139000
14,200204,Alaska Airlines,AS,Alaska Airlines,AS,International,Mexico,Passenger,Narrow Body,Boeing,737,400,109,13189000
15,200204,Alaska Airlines,AS,Alaska Airlines,AS,Domestic,US,Passenger,Narrow Body,Boeing,737,700,58,7493600
16,200204,Alaska Airlines,AS,Alaska Airlines,AS,International,Canada,Passenger,Narrow Body,Boeing,737,700,30,3876000
17,200204,Alaska Airlines,AS,Alaska Airlines,AS,International,Mexico,Passenger,Narrow Body,Boeing,737,700,4,516800
18,200204,Alaska Airlines,AS,Alaska Airlines,AS,Domestic,US,Passenger,Narrow Body,Boeing,737,900,2,292600
19,200204,Alaska Airlines,AS,Alaska Airlines,AS,International,Mexico,Passenger,Narrow Body,Boeing,737,900,1,146300
20,200204,Alaska Airlines,AS,Alaska Airlines,AS,Domestic,US,Passenger,Narrow Body,McDonnell Douglas,MD-80,NaN,92,11960000
21,200204,All Nippon Airways,NH,All Nippon Airways,NH,International,Asia,Passenger,Wide Body,Boeing,747,400,9,5256000
22,200204,All Nippon Airways,NH,All Nippon Airways,NH,International,Asia,Passenger,Wide Body,Boeing,777,200ER,21,9660000
23,200204,American Airlines,AA,American Airlines,AA,Domestic,US,Passenger,Narrow Body,Boeing,737,NaN,185,26640000
24,200204,American Airlines,AA,American Airlines,AA,Domestic,US,Passenger,Narrow Body,Boeing,757,200ER,133,26334000
25,200204,American Airlines,AA,American Airlines,AA,Domestic,US,Passenger,Narrow Body,Boeing,757,W,120,23760000
26,200204,American Airlines,AA,American Airlines,AA,Domestic,US,Passenger,Narrow Body,Boeing,757,NaN,62,12276000
27,200204,American Airlines,AA,American Airlines,AA,Domestic,US,Passenger,Wide Body,Boeing,767,0,3,960000
28,200204,American Airlines,AA,American Airlines,AA,Domestic,US,Passenger,Wide Body,Boeing,767,200,2,540000
29,200204,American Airlines,AA,American Airlines,AA,Domestic,US,Passenger,Wide Body,Boeing,767,200ER,178,49484000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
70,200204,Japan Airlines,JL,Japan Airlines,JL,International,Asia,Freighter,Wide Body,Boeing,747,200,38,23940000
71,200204,Japan Airlines,JL,Japan Airlines,JL,International,Asia,Passenger,Wide Body,Boeing,747,400,30,18900000
72,200204,KLM Royal Dutch Airlines,KL,KLM Royal Dutch Airlines,KL,International,Europe,Passenger,Wide Body,Boeing,747,300,6,3780450
73,200204,KLM Royal Dutch Airlines,KL,KLM Royal Dutch Airlines,KL,International,Europe,Passenger,Wide Body,McDonnell Douglas,MD-11,10,24,10560912
74,200204,Korean Air Lines,KE,Korean Air Lines,KE,International,Asia,Freighter,Wide Body,Boeing,747,NaN,12,7824000
75,200204,Korean Air Lines,KE,Korean Air Lines,KE,International,Asia,Passenger,Wide Body,Boeing,777,200,21,9660000
76,200204,Korean Air Lines,KE,Korean Air Lines,KE,International,Asia,Freighter,Wide Body,McDonnell Douglas,MD-11,0,8,3772000
77,200204,Lufthansa German Airlines,LH,Lufthansa German Airlines,LH,International,Europe,Passenger,Wide Body,Boeing,747,430,30,18899730
78,200204,Lufthansa German Airlines,LH,Lufthansa German Airlines,LH,International,Europe,Passenger,Wide Body,Airbus,A340,311,9,3690504
79,200204,Lufthansa German Airlines,LH,Lufthansa German Airlines,LH,International,Europe,Passenger,Wide Body,Airbus,A340,313,21,8796354
80,200204,Lufthansa German Airlines,LH,Lufthansa German Airlines,LH,International,Europe,Passenger,Wide Body,Airbus,A340,600,2,1119936
81,200204,Martinair Holland,MP,Martinair Holland,MP,International,Europe,Freighter,Wide Body,McDonnell Douglas,MD-11,10,4,1924000
82,200204,Mexicana Airlines,MX,Mexicana Airlines,MX,International,Mexico,Passenger,Narrow Body,Boeing,757,NaN,33,6534000
83,200204,Mexicana Airlines,MX,Mexicana Airlines,MX,International,Mexico,Passenger,Narrow Body,Airbus,A319,NaN,3,403446
84,200204,Mexicana Airlines,MX,Mexicana Airlines,MX,International,Mexico,Passenger,Narrow Body,Airbus,A320,NaN,46,6541062
85,200204,National Airlines,N7,National Airlines,N7,Domestic,US,Passenger,Narrow Body,Boeing,757,200,193,38214000
86,200204,Nippon Cargo Airlines,KZ,Nippon Cargo Airlines,KZ,International,Asia,Freighter,Wide Body,Boeing,747,100,2,1210000
87,200204,Nippon Cargo Airlines,KZ,Nippon Cargo Airlines,KZ,International,Asia,Freighter,Wide Body,Boeing,747,200,45,28350000
88,200204,Northwest Airlines,NW,Northwest Airlines,NW,Domestic,US,Passenger,Narrow Body,Boeing,727,200,4,636000
89,200204,Northwest Airlines,NW,Northwest Airlines,NW,International,Asia,Passenger,Wide Body,Boeing,747,200,30,18900000
90,200204,Northwest Airlines,NW,Northwest Airlines,NW,Domestic,US,Passenger,Narrow Body,Boeing,757,NaN,186,36828000
91,200204,Northwest Airlines,NW,Northwest Airlines,NW,Domestic,US,Passenger,Narrow Body,Airbus,A319,NaN,2,268800
92,200204,Northwest Airlines,NW,Northwest Airlines,NW,Domestic,US,Passenger,Narrow Body,Airbus,A320,NaN,109,15499800
93,200204,Philippine Airlines,PR,Philippine Airlines,PR,International,Asia,Passenger,Wide Body,Boeing,747,400,17,10709881
94,200204,Philippine Airlines,PR,Philippine Airlines,PR,International,Asia,Passenger,Wide Body,Airbus,A300,NaN,26,10868000
95,200204,Singapore Airlines,SQ,Singapore Airlines,SQ,International,Asia,Passenger,Wide Body,Boeing,747,400,30,18900000
96,200204,Singapore Airlines,SQ,Singapore Airlines,SQ,International,Asia,Passenger,Wide Body,Boeing,747,NaN,12,7989600
97,200204,Singapore Airlines,SQ,Singapore Airlines,SQ,International,Asia,Passenger,Wide Body,Airbus,A340,300,30,12540000
98,200204,SkyWest Airlines,OO,United Airlines - Pre 07/01/2013,UA,Domestic,US,Passenger,Regional Jet,Bombardier,CRJ,700,266,12502000
99,200204,SkyWest Airlines,OO,United Airlines - Pre 07/01/2013,UA,Domestic,US,Passenger,Turbo Prop,Embraer,ERJ,120ER,1825,47074050

In [90]:
# Não necessitamos de todas as 14 colunas então vamos criar novos 3 subsets com as colunas que desejamos. 
# Atribuiremos os seguintes nomes ao novos subsets: df_cia, df_stat e df_lands
# df_cia terá as colunas: 'Operating Airline', 'Operating Airline IATA Code', 'Landing Count'
# df_stat terá as colunas: 'Aircraft Model','Aircraft Version','Landing Count','Total Landed Weight'
# df_lands terá as colunas: 'Landing Count','Total Landed Weight'

In [91]:
# Utilizaremos o primeiro conceito de fatiamento ou Slice. A síntaxe é:
# subset = dataset[['Coluna1', 'Coluna2', 'Coluna3', etc...]]

In [452]:
df_cia = df1[['Operating Airline','Operating Airline IATA Code','Landing Count']]
df_stat = df1[['Aircraft Model','Aircraft Version','Landing Count']]
df_lands = df1[['Operating Airline','Total Landed Weight']]

In [453]:
# Para faciliar nossa compreensão, vamos trocar as colunas que estão com índice em inglês, para português. 
# Notem que utilizaremos outro conceito de manipulação de dados, substituição de índices e colunas.
# Vamos criar 3 listas com os nomes das colunas em portugues:
# colunas_cias = ['Cia Aerea','Codigo Cia Aerea','Contagem de Pousos']
# colunas_estatistica = ['Modelo Aeronave','Versao Aeronave','Contagem de Pousos', 'Peso ao Pousar']
# colunas_pousos = ['Contagem de Pousos','Peso ao Pousar']

In [454]:
colunas_cias = ['Cia Aerea','Codigo Cia Aerea','Contagem de Pousos']
colunas_estatistica = ['Modelo Aeronave','Versao Aeronave','Contagem de Pousos']
colunas_pousos = ['Cia Aerea','Peso ao Pousar']

In [455]:
# Agora vamos substituir as colunas do DataSet df pelas novas colunas. Vamos utilizar o atributo ".columns"
# objetonovo.columns = novacoluna

In [456]:
df_cia.columns = colunas_cias
df_stat.columns = colunas_estatistica
df_lands.columns = colunas_pousos

In [457]:
# Vamos verificar nossos novos subsets

In [458]:
df_cia

,Cia Aerea,Codigo Cia Aerea,Contagem de Pousos
0,ATA Airlines,TZ,83
1,ATA Airlines,TZ,3
2,ATA Airlines,TZ,27
3,Aeroflot Russian International Airlines,NaN,9
4,Air Canada,AC,5
5,Air Canada,AC,15
6,Air Canada,AC,1
7,Air Canada,AC,2
8,Air Canada,AC,83
9,Air Canada,AC,129
10,Air China,CA,21
11,Air France,AF,30
12,Alaska Airlines,AS,314
13,Alaska Airlines,AS,59
14,Alaska Airlines,AS,109
15,Alaska Airlines,AS,58
16,Alaska Airlines,AS,30
17,Alaska Airlines,AS,4
18,Alaska Airlines,AS,2
19,Alaska Airlines,AS,1
20,Alaska Airlines,AS,92
21,All Nippon Airways,NH,9
22,All Nippon Airways,NH,21
23,American Airlines,AA,185
24,American Airlines,AA,133
25,American Airlines,AA,120
26,American Airlines,AA,62
27,American Airlines,AA,3
28,American Airlines,AA,2
29,American Airlines,AA,178
...,...,...,...
70,Japan Airlines,JL,38
71,Japan Airlines,JL,30
72,KLM Royal Dutch Airlines,KL,6
73,KLM Royal Dutch Airlines,KL,24
74,Korean Air Lines,KE,12
75,Korean Air Lines,KE,21
76,Korean Air Lines,KE,8
77,Lufthansa German Airlines,LH,30
78,Lufthansa German Airlines,LH,9
79,Lufthansa German Airlines,LH,21
80,Lufthansa German Airlines,LH,2
81,Martinair Holland,MP,4
82,Mexicana Airlines,MX,33
83,Mexicana Airlines,MX,3
84,Mexicana Airlines,MX,46
85,National Airlines,N7,193
86,Nippon Cargo Airlines,KZ,2
87,Nippon Cargo Airlines,KZ,45
88,Northwest Airlines,NW,4
89,Northwest Airlines,NW,30
90,Northwest Airlines,NW,186
91,Northwest Airlines,NW,2
92,Northwest Airlines,NW,109
93,Philippine Airlines,PR,17
94,Philippine Airlines,PR,26
95,Singapore Airlines,SQ,30
96,Singapore Airlines,SQ,12
97,Singapore Airlines,SQ,30
98,SkyWest Airlines,OO,266
99,SkyWest Airlines,OO,1825

In [459]:
df_stat

   Modelo Aeronave Versao Aeronave  Contagem de Pousos
0              757             200                  83
1              757             300                   3
2            L1011               0                  27
3              777               0                   9
4              737             200                   5
5              737             NaN                  15
6              767             200                   1
7              767             333                   2
8             A319             114                  83
9             A320             211                 129
10             747             400                  21
11             777               0                  30
12             737             400                 314
13             737             400                  59
14             737             400                 109
15             737             700                  58
16             737             700                  30
17             737             700                   4
18             737             900                   2
19             737             900                   1
20           MD-80             NaN                  92
21             747             400                   9
22             777           200ER                  21
23             737             NaN                 185
24             757           200ER                 133
25             757               W                 120
26             757             NaN                  62
27             767               0                   3
28             767             200                   2
29             767           200ER                 178
..             ...             ...                 ...
70             747             200                  38
71             747             400                  30
72             747             300                   6
73           MD-11              10                  24
74             747             NaN                  12
75             777             200                  21
76           MD-11               0                   8
77             747             430                  30
78            A340             311                   9
79            A340             313                  21
80            A340             600                   2
81           MD-11              10                   4
82             757             NaN                  33
83            A319             NaN                   3
84            A320             NaN                  46
85             757             200                 193
86             747             100                   2
87             747             200                  45
88             727             200                   4
89             747             200                  30
90             757             NaN                 186
91            A319             NaN                   2
92            A320             NaN                 109
93             747             400                  17
94            A300             NaN                  26
95             747             400                  30
96             747             NaN                  12
97            A340             300                  30
98             CRJ             700                 266
99             ERJ           120ER                1825

[100 rows x 3 columns]

In [460]:
df_lands

                                  Cia Aerea  Peso ao Pousar
0                              ATA Airlines        16434000
1                              ATA Airlines          672000
2                              ATA Airlines         9666000
3   Aeroflot Russian International Airlines         4139946
4                                Air Canada          525000
5                                Air Canada         1605000
6                                Air Canada          272048
7                                Air Canada          639774
8                                Air Canada        11161923
9                                Air Canada        18343413
10                                Air China        13229853
11                               Air France        13796400
12                          Alaska Airlines        37994000
13                          Alaska Airlines         7139000
14                          Alaska Airlines        13189000
15                          Alaska Airlines         7493600
16                          Alaska Airlines         3876000
17                          Alaska Airlines          516800
18                          Alaska Airlines          292600
19                          Alaska Airlines          146300
20                          Alaska Airlines        11960000
21                       All Nippon Airways         5256000
22                       All Nippon Airways         9660000
23                        American Airlines        26640000
24                        American Airlines        26334000
25                        American Airlines        23760000
26                        American Airlines        12276000
27                        American Airlines          960000
28                        American Airlines          540000
29                        American Airlines        49484000
..                                      ...             ...
70                           Japan Airlines        23940000
71                           Japan Airlines        18900000
72                 KLM Royal Dutch Airlines         3780450
73                 KLM Royal Dutch Airlines        10560912
74                         Korean Air Lines         7824000
75                         Korean Air Lines         9660000
76                         Korean Air Lines         3772000
77                Lufthansa German Airlines        18899730
78                Lufthansa German Airlines         3690504
79                Lufthansa German Airlines         8796354
80                Lufthansa German Airlines         1119936
81                        Martinair Holland         1924000
82                        Mexicana Airlines         6534000
83                        Mexicana Airlines          403446
84                        Mexicana Airlines         6541062
85                        National Airlines        38214000
86                    Nippon Cargo Airlines         1210000
87                    Nippon Cargo Airlines        28350000
88                       Northwest Airlines          636000
89                       Northwest Airlines        18900000
90                       Northwest Airlines        36828000
91                       Northwest Airlines          268800
92                       Northwest Airlines        15499800
93                      Philippine Airlines        10709881
94                      Philippine Airlines        10868000
95                       Singapore Airlines        18900000
96                       Singapore Airlines         7989600
97                       Singapore Airlines        12540000
98                         SkyWest Airlines        12502000
99                         SkyWest Airlines        47074050

[100 rows x 2 columns]

In [461]:
# Nossos subsets estão prontos para extrairmos as informações do início do Notebook.
# a) Quais as 100 maiores Cias aéreas que pousam no aeroporto?
# Vamos utilizar o subste def_cia

In [462]:
# Podemos notar que o Python atribuiu um índice automático para as linhas do nosso DataFrame.
# Vamos alterar este índice e indexar o DataFrame pela coluna Operadora. Esta operação também é chamada de pivotamento.
# Para tal, vamos criar um novo objeto cia_indexada e atribuir a operação de indexação a ele. 
# Vamos utilizar o atrituto .set_index() - parâmetro: coluna que será o indexador do DataFrame: Cia Aerea.

In [463]:
cia_indexada = df_cia.set_index('Cia Aerea')
cia_indexada

                                        Codigo Cia Aerea  Contagem de Pousos
Cia Aerea
ATA Airlines                                          TZ                  83
ATA Airlines                                          TZ                   3
ATA Airlines                                          TZ                  27
Aeroflot Russian International Airlines              NaN                   9
Air Canada                                            AC                   5
Air Canada                                            AC                  15
Air Canada                                            AC                   1
Air Canada                                            AC                   2
Air Canada                                            AC                  83
Air Canada                                            AC                 129
Air China                                             CA                  21
Air France                                            AF                  30
Alaska Airlines                                       AS                 314
Alaska Airlines                                       AS                  59
Alaska Airlines                                       AS                 109
Alaska Airlines                                       AS                  58
Alaska Airlines                                       AS                  30
Alaska Airlines                                       AS                   4
Alaska Airlines                                       AS                   2
Alaska Airlines                                       AS                   1
Alaska Airlines                                       AS                  92
All Nippon Airways                                    NH                   9
All Nippon Airways                                    NH                  21
American Airlines                                     AA                 185
American Airlines                                     AA                 133
American Airlines                                     AA                 120
American Airlines                                     AA                  62
American Airlines                                     AA                   3
American Airlines                                     AA                   2
American Airlines                                     AA                 178
...                                                  ...                 ...
Japan Airlines                                        JL                  38
Japan Airlines                                        JL                  30
KLM Royal Dutch Airlines                              KL                   6
KLM Royal Dutch Airlines                              KL                  24
Korean Air Lines                                      KE                  12
Korean Air Lines                                      KE                  21
Korean Air Lines                                      KE                   8
Lufthansa German Airlines                             LH                  30
Lufthansa German Airlines                             LH                   9
Lufthansa German Airlines                             LH                  21
Lufthansa German Airlines                             LH                   2
Martinair Holland                                     MP                   4
Mexicana Airlines                                     MX                  33
Mexicana Airlines                                     MX                   3
Mexicana Airlines                                     MX                  46
National Airlines                                     N7                 193
Nippon Cargo Airlines                                 KZ                   2
Nippon Cargo Airlines                                 KZ                  45
Northwest Airlines                                    NW                   4
Northwest Airlines                                    NW                  30
Northwest Airlines                                    NW                 186
Northwest Airlines                                    NW                   2
Northwest Airlines                                    NW                 109
Philippine Airlines                                   PR                  17
Philippine Airlines                                   PR                  26
Singapore Airlines                                    SQ                  30
Singapore Airlines                                    SQ                  12
Singapore Airlines                                    SQ                  30
SkyWest Airlines                                      OO                 266
SkyWest Airlines                                      OO                1825

[100 rows x 2 columns]

In [464]:
# Podemos indexar um DataFrame por mais de uma coluna, basta acrescentar a coluna utilizando a notação de índice.

In [465]:
cia_indexada = df_cia.set_index(['Cia Aerea', 'Codigo Cia Aerea'])
#cia_indexada

In [466]:
# Segunda operação de manipulação. Vamos agrupar os dados do subset também pela Operadora. Podemos verificar que a Operadora
# ATA Airlines aparece em três índices diferentes. No DataFrame original, a ATA Airlines opera com 3 aeronaves diferentes.
# Esta é a razão pela qual ela se repete. Como queremos saber, quantos pousos esta empresa realizou, vamos agrupar os dados
# por operadora.
# Vamos criar o objeto cia_agrupada e utilizar o atributo .groupby() - parâmetro: coluna 'Cia Aerea'

In [467]:
cia_agrupada = cia_indexada.groupby('Cia Aerea')

In [468]:
# Podemos agrupar um DataFrame por mais de uma coluna, basta acrescentar a coluna utilizando a notação de índice.

In [469]:
cia_agrupada = cia_indexada.groupby(['Cia Aerea', 'Codigo Cia Aerea'])

In [470]:
# Após as operações de agrupamento e indexação podemos sumarizar nossos dados. Por exemplo: quantas ocorrências de pouso,
# temos para cada Cia Aérea? Qual o total de aeronaves que pousaram para cada Cia Aérea. 
# Para somarmos a quantidade de ocorrências de pouso para cada Cia, utilizamos o método .size()
# Para obtermos o total de pouso para cada Cia, utilizamos o método .sum()

In [471]:
cia_agrupada.size()

Cia Aerea                  Codigo Cia Aerea
ATA Airlines               TZ                   3
Air Canada                 AC                   6
Air China                  CA                   1
Air France                 AF                   1
Alaska Airlines            AS                   9
All Nippon Airways         NH                   2
American Airlines          AA                  12
Asiana Airlines            OZ                   2
British Airways            BA                   1
Cargolux Airlines          CV                   1
Cathay Pacific             CX                   2
China Airlines             CI                   6
Delta Air Lines            DL                   8
EVA Airways                BR                   2
Federal Express            FX                   3
Frontier Airlines          F9                   2
Gemini Air Cargo           GR                   1
Hawaiian Airlines          HA                   2
Horizon Air                QX                   1
Japan Airlines             JL                   2
KLM Royal Dutch Airlines   KL                   2
Korean Air Lines           KE                   3
Lufthansa German Airlines  LH                   4
Martinair Holland          MP                   1
Mexicana Airlines          MX                   3
National Airlines          N7                   1
Nippon Cargo Airlines      KZ                   2
Northwest Airlines         NW                   5
Philippine Airlines        PR                   2
Singapore Airlines         SQ                   3
SkyWest Airlines           OO                   2
dtype: int64

In [472]:
cia_agrupada.sum()

                                            Contagem de Pousos
Cia Aerea                 Codigo Cia Aerea
ATA Airlines              TZ                               113
Air Canada                AC                               235
Air China                 CA                                21
Air France                AF                                30
Alaska Airlines           AS                               669
All Nippon Airways        NH                                30
American Airlines         AA                              1316
Asiana Airlines           OZ                                28
British Airways           BA                                60
Cargolux Airlines         CV                                12
Cathay Pacific            CX                                34
China Airlines            CI                                48
Delta Air Lines           DL                               615
EVA Airways               BR                                47
Federal Express           FX                                65
Frontier Airlines         F9                               114
Gemini Air Cargo          GR                                 2
Hawaiian Airlines         HA                                30
Horizon Air               QX                                59
Japan Airlines            JL                                68
KLM Royal Dutch Airlines  KL                                30
Korean Air Lines          KE                                41
Lufthansa German Airlines LH                                62
Martinair Holland         MP                                 4
Mexicana Airlines         MX                                82
National Airlines         N7                               193
Nippon Cargo Airlines     KZ                                47
Northwest Airlines        NW                               331
Philippine Airlines       PR                                43
Singapore Airlines        SQ                                72
SkyWest Airlines          OO                              2091

In [473]:
# A resposa que procuramos é: Quais as Cias que mais pousaram aeronaves em nosso Dataset? Para esta resposta utilizamos
# o método .sort_values() repassando como argumento a coluna a ser ordenada, nosso caso: 'Contagem de Pousos'

In [474]:
cia_agrupada.sum().sort_values(['Contagem de Pousos'])

                                            Contagem de Pousos
Cia Aerea                 Codigo Cia Aerea
Gemini Air Cargo          GR                                 2
Martinair Holland         MP                                 4
Cargolux Airlines         CV                                12
Air China                 CA                                21
Asiana Airlines           OZ                                28
Air France                AF                                30
All Nippon Airways        NH                                30
KLM Royal Dutch Airlines  KL                                30
Hawaiian Airlines         HA                                30
Cathay Pacific            CX                                34
Korean Air Lines          KE                                41
Philippine Airlines       PR                                43
Nippon Cargo Airlines     KZ                                47
EVA Airways               BR                                47
China Airlines            CI                                48
Horizon Air               QX                                59
British Airways           BA                                60
Lufthansa German Airlines LH                                62
Federal Express           FX                                65
Japan Airlines            JL                                68
Singapore Airlines        SQ                                72
Mexicana Airlines         MX                                82
ATA Airlines              TZ                               113
Frontier Airlines         F9                               114
National Airlines         N7                               193
Air Canada                AC                               235
Northwest Airlines        NW                               331
Delta Air Lines           DL                               615
Alaska Airlines           AS                               669
American Airlines         AA                              1316
SkyWest Airlines          OO                              2091

In [475]:
# Como queremos da maior para a menor, ou seja, ondem decrecente, acrescentamos no argumento da função o 'ascending=False'
cia_agrupada.sum().sort_values(['Contagem de Pousos'], ascending=False)

                                            Contagem de Pousos
Cia Aerea                 Codigo Cia Aerea
SkyWest Airlines          OO                              2091
American Airlines         AA                              1316
Alaska Airlines           AS                               669
Delta Air Lines           DL                               615
Northwest Airlines        NW                               331
Air Canada                AC                               235
National Airlines         N7                               193
Frontier Airlines         F9                               114
ATA Airlines              TZ                               113
Mexicana Airlines         MX                                82
Singapore Airlines        SQ                                72
Japan Airlines            JL                                68
Federal Express           FX                                65
Lufthansa German Airlines LH                                62
British Airways           BA                                60
Horizon Air               QX                                59
China Airlines            CI                                48
EVA Airways               BR                                47
Nippon Cargo Airlines     KZ                                47
Philippine Airlines       PR                                43
Korean Air Lines          KE                                41
Cathay Pacific            CX                                34
KLM Royal Dutch Airlines  KL                                30
Hawaiian Airlines         HA                                30
Air France                AF                                30
All Nippon Airways        NH                                30
Asiana Airlines           OZ                                28
Air China                 CA                                21
Cargolux Airlines         CV                                12
Martinair Holland         MP                                 4
Gemini Air Cargo          GR                                 2

In [476]:
# Qual tipo de aeronave que mais pousa no aeroporto?
# Vamos utilizar o DataFrame df_stat
# Porém, aqui vamos ser mais práticos, e não fazer etapa por etapa. Vamos ver o quanto o Phyton é prático,
# escrevendo todas as etapadas em uma única linha.

In [477]:
df_stat_ordenado = df_stat.set_index(['Modelo Aeronave','Versao Aeronave']).groupby(['Modelo Aeronave', 'Versao Aeronave']).sum().sort_values(['Contagem de Pousos'], ascending=False)

In [478]:
# Com isto, respondemos ao segundo questionamento. Qual aeronave mais utiliza a pista de pouso. Um brasileiro aparece na lista.
df_stat_ordenado

                                 Contagem de Pousos
Modelo Aeronave Versao Aeronave
ERJ             120ER                          1825
737             400                             482
MD-80           SP                              398
CRJ             700                             325
747             400                             284
757             200                             276
767             300ER                           234
737             800                             185
767             200ER                           178
757             200ER                           133
A320            211                             129
757             W                               120
747             200                             118
737             700                              92
A319            114                              83
737             300                              77
767             400                              60
A340            300                              60
767             300                              50
DC-9            15                               43
737             200                              42
777             0                                39
MD-83           0                                39
DC-10           10                               32
747             430                              30
MD-11           10                               28
L1011           0                                27
767             200                              26
MD-80           0                                24
DC-8            73                               21
777             200                              21
                200ER                            21
A340            313                              21
MD-11           0                                21
A340            311                               9
747             300                               6
MD-11           30                                4
727             200                               4
747             243                               4
DC-10           30                                3
747             0                                 3
757             300                               3
767             0                                 3
737             900                               3
747             100                               2
DC-10           0                                 2
A340            600                               2
767             333                               2
MD-80           83                                1

In [481]:
# Vamos ao último questionamento, quais as Cias aéreas com maior quantidade de peso ao pousar? Vamos utilizar o objeto
# df_lands. Também utilizaremos uma única linha para escrever todo o código.

In [480]:
df_lands

                                  Cia Aerea  Peso ao Pousar
0                              ATA Airlines        16434000
1                              ATA Airlines          672000
2                              ATA Airlines         9666000
3   Aeroflot Russian International Airlines         4139946
4                                Air Canada          525000
5                                Air Canada         1605000
6                                Air Canada          272048
7                                Air Canada          639774
8                                Air Canada        11161923
9                                Air Canada        18343413
10                                Air China        13229853
11                               Air France        13796400
12                          Alaska Airlines        37994000
13                          Alaska Airlines         7139000
14                          Alaska Airlines        13189000
15                          Alaska Airlines         7493600
16                          Alaska Airlines         3876000
17                          Alaska Airlines          516800
18                          Alaska Airlines          292600
19                          Alaska Airlines          146300
20                          Alaska Airlines        11960000
21                       All Nippon Airways         5256000
22                       All Nippon Airways         9660000
23                        American Airlines        26640000
24                        American Airlines        26334000
25                        American Airlines        23760000
26                        American Airlines        12276000
27                        American Airlines          960000
28                        American Airlines          540000
29                        American Airlines        49484000
..                                      ...             ...
70                           Japan Airlines        23940000
71                           Japan Airlines        18900000
72                 KLM Royal Dutch Airlines         3780450
73                 KLM Royal Dutch Airlines        10560912
74                         Korean Air Lines         7824000
75                         Korean Air Lines         9660000
76                         Korean Air Lines         3772000
77                Lufthansa German Airlines        18899730
78                Lufthansa German Airlines         3690504
79                Lufthansa German Airlines         8796354
80                Lufthansa German Airlines         1119936
81                        Martinair Holland         1924000
82                        Mexicana Airlines         6534000
83                        Mexicana Airlines          403446
84                        Mexicana Airlines         6541062
85                        National Airlines        38214000
86                    Nippon Cargo Airlines         1210000
87                    Nippon Cargo Airlines        28350000
88                       Northwest Airlines          636000
89                       Northwest Airlines        18900000
90                       Northwest Airlines        36828000
91                       Northwest Airlines          268800
92                       Northwest Airlines        15499800
93                      Philippine Airlines        10709881
94                      Philippine Airlines        10868000
95                       Singapore Airlines        18900000
96                       Singapore Airlines         7989600
97                       Singapore Airlines        12540000
98                         SkyWest Airlines        12502000
99                         SkyWest Airlines        47074050

[100 rows x 2 columns]

In [482]:
df_lands_ordenado = df_lands.set_index('Cia Aerea').groupby('Cia Aerea').sum().sort_values(['Peso ao Pousar'], ascending=False)

In [483]:
df_lands_ordenado

                                         Peso ao Pousar
Cia Aerea
American Airlines                             253662500
Delta Air Lines                               132252000
Alaska Airlines                                82607300
Northwest Airlines                             72132600
SkyWest Airlines                               59576050
Japan Airlines                                 42840000
Singapore Airlines                             39429600
National Airlines                              38214000
British Airways                                37800000
Air Canada                                     32547158
Lufthansa German Airlines                      32506524
China Airlines                                 30564000
Nippon Cargo Airlines                          29560000
EVA Airways                                    28915245
Federal Express                                27741000
ATA Airlines                                   26772000
Philippine Airlines                            21577881
Korean Air Lines                               21256000
Asiana Airlines                                18036000
DHL Express (USA)                              15491920
Cathay Pacific                                 15233608
All Nippon Airways                             14916000
KLM Royal Dutch Airlines                       14341362
Air France                                     13796400
Mexicana Airlines                              13478508
Air China                                      13229853
Frontier Airlines                              12663000
Hawaiian Airlines                               9687000
Cargolux Airlines                               7992000
China Eastern Airlines, Inc                     5186445
Aeroflot Russian International Airlines         4139946
Horizon Air                                     3953000
Martinair Holland                               1924000
Gemini Air Cargo                                 984000

In [ ]:
# Terminamos nosso segundo meeting. Espero ter atendido a todos, e caso tenham dúvidas, utilizem o grupo no Telegram. 
# A medida do possível, vamos tirando dúvidas.